* {
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
}

h1, .output h2 {
    font-size: 1.5rem;
    margin: 50px;
}

.controls button {
    background-color: none;
    border: none;
    border-radius: 15px;
    font-size: 2.5rem;
}

.inactive {
    display: none;
}